body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#banner-container{
  margin: 45px 15%;
}

.main-nav-icon{
  font-size: 1rem;
  margin: 0 10px;
}

.nav-icon{
  font-size: .75rem;
  padding: 5px;
}

.product-card-container{
  margin: 20px;
  background-color: aliceblue;
  border-radius: 10px;
}

.product-card, 
.product-card-container, 
.wishlist-item-container, 
.details-container,
.card, 
nav{
  box-shadow: 5px 5px 5px grey;
}

.heart-icon:hover{
  cursor: pointer;
}

.product-buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.row{
  justify-content: space-around;
}

.card img{
  padding: 15px;
}

.btn{
  margin: 20px;
}

.card .fa-heart{
  position: absolute;
  top: 15px;
  left: 15px;
}

.star {
  color: gold;
}

 .filled{
  color: red;
}

@keyframes descriptionReveal{
  0%{
    height: 0%;
  }

100%{
  height: 100%;
}
}

.product-description{
  padding: 10px;
}

.trash-icon:hover{
  cursor: pointer;
  color: grey;
}

.details-image{
  height: 300px;
}

.added-tag{
  display: flex;
  flex-flow: row nowrap;
  color: rgb(46, 175, 46);
}

.added-tag p{
  margin-bottom: 0;
}

.added-icon{
  padding: 5px;
}

.price-text{
  color: rgb(174, 21, 21);
}

.card-img{
  max-height: 300px;
  object-fit: contain;
}

.product-card-img{
  max-height: 50vh;
  object-fit: contain;
}